.login-container {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

input {
    padding: 7px;
    border-radius: 10px;
    border: 1px solid gray;
}

h3 {
    font-weight: bold;
}

.login-container a {
    text-decoration: none;
    color: #ed1f85 !important;
    cursor: pointer;
}
